@import 'tailwindcss';
@layer base {
	button {
		@apply cursor-pointer;
	}
	button:disabled {
		@apply cursor-not-allowed;
	}
}
@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}
/* Light/Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--background: #1f2937;
		--foreground: #f9fafb;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #f3f4f6;
		--foreground: #111827;
	}
}

body {
	background-color: var(--background);
	color: var(--foreground);
	transition: background 0.3s ease, color 0.3s ease;
}
